button {
    padding: 1% 5% 1% 5%;
    font-size: 18px;
    border-radius: 14px;
}

button:hover {
    cursor: pointer;
    background-color: #cfd8dc;
}

.fixed {
    margin-left: 2%;
    margin-bottom: 10px;
    margin-top: 2%;
    position: fixed;
    top: 10px;
    width: 98%;
}

.unfixed {
    margin-left: 2%;
    margin-top: 2%;
    width: 98%;
}