button {
    padding: 0.7% 4% 0.7% 4%;
    font-size: 18px;
    border-radius: 14px;
    background-image: Url(../../assets/images/blueButton.png);
    background-size: 100% 100%;


}

button:hover {
    cursor: pointer;
    background-image: Url(../../assets/images/yellowButton.png);
    background-size: 100% 100%;
}

.fixed {
    margin-left: 2%;
    margin-bottom: 10px;
    margin-top: 2%;
    position: fixed;
    top: 10px;
    width: 98%;
}

.unfixed {
    margin-left: 2%;
    margin-top: 2%;
    width: 98%;
}
