.service {
    padding-top: 100px;
}

h2 {
    text-align: center;
    color:#2f5488;
    font-size: 42px;
}

div {
    background: #f8fad3;
    margin-left: 3%;
    margin-right: 3%;
    height: 98%;
}

p {
    font: oblique 120% cursive, ;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: fantasy;
}

.infoAditional {
    background: none;
    padding-top: 20px;
}

.infoAditionalLink {
    color:#2f5488;
    text-decoration: underline;
}

.infoAditionalLink:hover {
    cursor: pointer;
}

#serviciosMancos div:first-child {
    text-align: center;
    width: 100%;
}
#serviciosMancos {
  background-image: url(../../assets/images/serviciosBackground.jpg);
  background-size: 100% 100%;
}


