<section class="service">
  <div>
    <h2>creacion de aplicacion de gestion de escritorio</h2>
    <ul>
      <li>
        <h3>creacion de aplicaciones con java  y c# lanzadas sobre bases de datos SqlServer o mySql
        </h3>
        <br>

          <a (click)="infoAppDesk=!infoAppDesk" class="infoAditionalLink">
          información adicional
          </a>
          <div *ngIf="infoAppDesk===true" class="infoAditional">
              <h3>Funcionalidad:</h3>
              <p>gestiona tu empresa comprando tu aplicacion personalizada que te permitirá llevar la gestion de toda la informacion de la empresa en un entorno amigable <br>
                Las funcionalidades principales son:
              </p>
              <ul>
                  <li>Gestion de Usuarios o clientes</li>
                  <li>Gestion de empleados</li>
                  <li>Productos y proveedores</li>
                  <li>TPV</li>
                </ul>
            <h3>Precio:</h3>
            <p>El precio varia en funcion de el numero de horas que se dedique al proyecto
              estas estarán condicionadas al numero de componentes que se van a gestionar <br>
              Otro a tener encuenta sera sobre que base de datos sera lanzada la aplicacion,  si es sobre <strong>SqlServer</strong>
              tendra un mayor costo que si es sobre <strong>MySql</strong>
            </p>

          </div>

      </li>
      <li>
          <h3>creacion de paginas web con angular 2.0  o php
          </h3>
          <br>

            <a (click)="infoWeb=!infoWeb" class="infoAditionalLink">
            información adicional
            </a>
            <div *ngIf="infoWeb===true" class="infoAditional">
                <h3>Funcionalidad:</h3>
                <p>adquiere una pagina web dinamica que te permite mostrar tu empresa al mundo y aumentar enormemente tu posibilidades de exito
                  <br>
                  las principales funcionalidades son:
                </p>
                <ul>
                    <li>Gestion de Usuarios o clientes</li>
                    <li>Catalogo de productos</li>
                    <li>compras online</li>
                  </ul>
              <h3>Precio:</h3>
              <p>El precio varia en funcion de el numero de horas que se dedique al proyecto
                estas estarán condicionadas al numero de componentes que se van a gestionar <br>
                Otro a tener encuenta sera sobre que base de datos sera lanzada la aplicacion,  si es sobre <strong>SqlServer</strong>
                tendra un mayor costo que si es sobre <strong>MySql</strong>
              </p>

            </div>

        </li>
    </ul>
  </div>

</section>

