body {
    height: 100%;
}

@font-face {
    font-family: "FontH2";
    src: url("../Fonts/AlfaSlabOne-Regular.ttf");
}

.inicio {
    height: 100%;
    background-image: url("../Images/desarrollo-web.jpg");
    background-size: 100% 100%;
}

h2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 80%;
    width: 90%;
    margin: 0;
    padding-left: 10%;
    font-family: 'FontH2';
    color: orange;
    font-size: 48px;
}