body {
    height: 100%;
}

@font-face {
    font-family: "FontH2";
    src: url("../Fonts/AlfaSlabOne-Regular.ttf");
}

.inicio {
    height: 100%;
}

h2 {
    font-family: 'FontH2';
    color: orange;
    font-size: 48px;
}

img {
  width: 400px;
  height: 300px;
}
#imgsection {
  text-align: left;
  padding-top: 150px;
  padding-left: 40px;

}
#divbtimg :first-child {
  margin-left: 40px;

}

