<section class="inicio">
    <section id="imgsection">
      <img src="../../assets/images/imginitial1.png" class="visible">
      <img src="../../assets/images/imginitial2.jpg" class="hidden" hidden >
      <img src="../../assets/images/imginitial3.jpg" class="hidden" hidden>
    </section>
    <div id="divbtimg">
    <input type="radio" class="radioBtImg" checked name="imageoption">
    <input type="radio" class="radioBtImg"  name="imageoption">
    <input type="radio" class="radioBtImg" name="imageoption" >
    </div>
    <h2>Practices for fools</h2>

</section>
